.container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "sidebar content content content";
}

header {
  grid: 100px / 1fr 1fr;
  grid-area: header;
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

aside {
  grid-area: sidebar;
  /* align-items: left;
  justify-content: left; */
  background-color: blue;
  padding: 1rem;
}

#lista {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}

main {
  grid-area: content;
  background-color: #a11515;
  padding: 1rem;
}
